<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Storehouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings><add name="StorehouseEntities"
                          connectionString="metadata=res://*/ModelDB.csdl|res://*/ModelDB.ssdl|res://*/ModelDB.msl;
provider=System.Data.SqlClient;provider connection string=&quot;                 &#xD;&#xA;                          
Data Source=DC01\SQLEXPRESS;          &#xD;&#xA;                          Initial Catalog=Storehouse;          &#xD;&#xA;                          Integrated Security=True;              &#xD;&#xA;                          MultipleActiveResultSets=True&quot;"



                                                               providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Storehouse.Properties.Settings>
      <setting name="LastUser" serializeAs="String">
        <value>0</value>
      </setting>
    </Storehouse.Properties.Settings>
  </userSettings>
</configuration>